* {
	font-size: 16px;
}
body {
	background-color:  white;
	margin: 0 0; 
}

#banner{
	width: 100%;
	height:80vh;
	position: relative;
}
#banner-cover{
	width: 100%;
	height:100%;
	position:absolute;
	z-index: -1;
}
.title {
	font-size:85px;
	font-family: 'Reenie Beanie', cursive;
}
.icon{
	width: 50px;
	height: 50px;

}

#title-container {
	color:white;
	font-size: 300px;
	position: absolute;
	top: -3%;
	left: 2%;
}
#subtitle{
	color: white;
	font-size: 45px;
	position: absolute;
	right:0px;
	bottom: 0px;
	padding-right: 3%;
	text-shadow: 10px 10px 25px #edb8ff ;
	font-family: 'Reenie Beanie', cursive;

}

#startbutton{
	color: white;
	background-color: #ffac1c;
	font-size: 30px;
	position: absolute;
	left: 5%;
	bottom: 15%;
    font-size: 2.5rem;
    border-radius: 30px;
    text-decoration: none;
    padding: 10px;
    font-family: 'Rufina', serif;
}

#startbutton:hover {
	color: #c555ed;
}
#navigation{
	position: absolute;
	display:  flex;
	right: 5%;
	top: 2%;
	border-radius: 50px;
	background-color: white;
	padding: 5px 5px;
}
#bodycard,#bodyList{
	padding-top: 5vh;
	padding-right: 5%;
	padding-left: 5%;
	font-family: 'Rationale', sans-serif;
}

#bodyCastle {
	width:100%;
	height:45vh;
	display: flex;
	justify-content: center;
	overflow: hidden;
}
.row{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.album{
	width: 20%;
	background-color:lightgrey;
	border-radius: 50px;
	overflow: hidden;
	text-align: center;
}

.albumImage {
	width: 100%;
}
#K-pop{
	color: white;
	background-color: lightgrey;
	font-size:35px;
	border-radius: 35px;
	padding: 10px;
	width: 8%;
	padding-left: 2%;
}
ul, ol{
	list-style: none;
}
li{
	padding: 5% 2%
}

h4 {
	padding:0;
	margin:0;
	font-size: 150%
}

h2{
	font-size: 200%
}

#castle {
	width: 89%;
	object-fit: cover;
	position: relative;
	border-radius: 30px;
	z-index: -1;
}

#castleText {
	position: absolute;
	right:  100px;
	text-align: right;
	font-size:300%;
	font-family: 'Rationale', sans-serif;
}







